*{
    background-color:darkblue;
}

nav{
    height:60px;
    border:10px solid white;
    background-color:black;
}
#Amazon{
    color:orange;
    text-decoration:none;
    font-size: 25px;
    margin-right: 100px;
    background-color:black;
}
#Account{
    color:white;
    text-decoration:none;
    background-color:black;
    margin-right: 100px;
}
#MyCart{
    color:white;
    text-decoration:none;
    background-color:black;
    margin-right: 100px;
}
#Contact{
    color:white;
    text-decoration:none;
    background-color:black;
    margin-right: 100px;
}
button{
    background-color:orange;
    color:white;
}
input{
    background-color:white;
}