* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width:100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px groove white;
}

.add-1 {
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-2 {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

  /**box3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color:orange;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
    text-align: center;
   
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
/** box4 **/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight:700;
}
 
.pannel {
    display: flex;
    height:35px;
    background-color: #222f3d;;
    color: white;
    justify-content:space-evenly;
    align-items: center;
}

.pannel-all {
    font-size: 0.85rem;
    font-weight: 700;
   
}
.pannel-ops p{
    display: inline;
    margin-left: 15px;
}

.pannel-ops {
    width:80%;
    font-size: 0.85rem;
   
}

.pannel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}
 
/** hero section**/
.hero-section {
    background-image: url(hero_image.jpg)

}