div {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: 10px solid #A7333F;
     border-top: 10px solid black;
     animation-name: myname;
     animation-duration: 1s;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: normal;
}
@keyframes myname{
    from {
           transform:rotate(0deg);
    }
    to {
         transform:rotate(360deg);
    }
}