div{
    width:200px;
    height:200px;
    background-color:black;
    /* transition-property:all;
    transition-duration:3s;
    transition-timing-function:ease;
    transition-delay:1s; */
    transition:all 2s ease-in 1s;
   
    
   
    
}
@media(max-width:300px){
    div{
        background-color:green;
    }
}
@media(min-width:300px) and (max-width:400px){
    div{
        background-color:pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    div{
        background-color:red;
    }
}
@media(min-width:600px){
    div{
        background-color:blue;
    }
}

div:hover{
    background-color:brown;
    color:black;
    font-size:20px;
   
}
div:active{
    background-color:aqua;
    color:black;
    

}