div{
    background-color:rgb(255,0,0);
    width:200px;
    height:200px;
    border:2px solid black;
    display:inline-block;
    
    
}
*{
    margin:0;
    padding:0;
    background-color:aliceblue;
}
h1{
    text-align:end;
}
h2{
    text-decoration:line-through;
    font-weight:lighter;
}
a{
    text-decoration:none;

}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    line-height:25px;
    text-transform:none;
  
}
#flower{
    padding:100px;
    position:relative;
    margin:0;
   
    

    
}
#fruit{
  
    position:relative;
    
    right:0px;
    top:100px;
    
  
   
    
}
#para{
    width:33%;
    background-image:url(imag6.jpg);
    background-size:cover; 
    
  
    
}
.container{
   height:400px;
   width: 800px;
  
}
div1{
    background-color:blue;
}