div{
    background-color:rgb(255,0,0);
    width:100px;
    height:100px;
    border:2px dashed black;
    
    
}
*{
    margin:0;
    padding:0;
    background-color:aliceblue;
}
h1{
    text-align:end;
}
h2{
    text-decoration:line-through;
    font-weight:lighter;
}
a{
    text-decoration:none;

}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    line-height:25px;
    text-transform:none;
  
}
#flower{
    padding:100px;
    margin:10px 20px 30px 40px;
    
}
#fruit{
  
    position:relative;
    bottom: 100px;
  
   
    
}
#para{
    width:33%;
  
    
}